<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [max]="minDate"
    [matDatepicker]="picker"
  />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<ng-container *ngIf="control?.touched || control?.dirty">
  <mat-error *ngIf="control?.errors?.['required']">
    Please {{ label }}
  </mat-error>
</ng-container>
