<mat-toolbar>
  <div class="container">
    <div class="menu-container">
      <div class="right-nav-item">
        <a routerLink="/" routerLinkActive="active">My Learning App</a>
        <ul *ngIf="accountService.currentUser$ | async" class="right-nav-item_ul">
          <li>
            <a routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li>
            <a routerLink="/lists" routerLinkActive="active">Link</a>
          </li>
          <li>
            <a routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ul>
      </div>

      <div class="left-nav-item">
        <ng-container *ngIf="!(accountService.currentUser$ | async)">
          <a mat-button routerLink="/login">
            <mat-icon class="material-symbols-outlined">login</mat-icon>
          </a>
        </ng-container>
        <ng-container *ngIf="accountService.currentUser$ | async">
          <a mat-button [matMenuTriggerFor]="belowMenu">
            <mat-icon class="material-symbols-outlined">people</mat-icon>
          </a>
          <mat-menu
            class="custom-mat-menu"
            #belowMenu="matMenu"
            yPosition="below"
          >
            <a mat-menu-item>Edit Profile</a>
            <a mat-menu-item (click)="onLogout()">Logout</a>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </div>
</mat-toolbar>

